# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
*.tsbuildinfo

# Environment variables
.env

# IDE specific files
.vscode/
.DS_Store

# Logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm 